extends layout.jade

block content

	div.container
		div.center
			h1 Imposto de Renda Online
		div.row.valign-wrapper		
			div.col.s12.m6.l4.valign
				label(for='rendimentosTributaveis') Rendimentos Tributáveis
				input(type='number' id='rendimentosTributaveis')
						
			div.col.s12.m6.l4.valign				
				label(for='totalDeducoes') Total de Deduções
				input(type='number' id='totalDeducoes') 

		div.row.valign-wrapper
			table
				thead
					tr
						th Faixa Base de Cálculo
						th Alíquota
						th Valor do Imposto
				tbody
					tr
						td 2ª Faixa 922.67
						td 7.5%
						td 69.20
					tr
						td 3ª Faixa 924.40
						td 15%
						td 138.66
					tr
						td 4ª Faixa 48.95
						td 22.5%
						td 11.01
					tr
						td 5ª Faixa 0.00
						td 27.5%
						td 0.00
					tr
						td Total 3800.00
						td --
						td 218.87

						


		