doctype html
html
	head
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(rel='stylesheet', href='/Materialize/bin/materialize.css')
		script(src='/jquery/dist/jquery.min.js')
		script(src='/Materialize/bin/materialize.js')
		
	

		block title 
			title Imposto de Renda On-Line

		meta(name='viewport' content='width=device-width, initial-scale=1.0')

	
		body

			block content